<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Hello Balloon World!</h1>
        <!-- <button id="button">New World</button> -->
        <div id="world_data">
            <h3>World Name: <span id="world_name"></span> </h3>
            
        </div>
        <div id="balloon_data">

        </div>

        <div class = "card w-50">
            <div class="card-body">
                <h5 class="card-title">Balloon Info</h5>
                <ul>
                    <li>Name: <span id="balloon_name"></span></li>
                    <li>Height: <span id="balloon_height_ft"></span></li>
                    <li>Pressure: <span id="balloon_pressure"></span></li>
                    <li>Temperature: <span id="balloon_temperature"></span></li>
                    
                </ul>
                
                
            </div>
            
        </div>
        
        
    </body>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
    <script>
        
        
        let worldName = document.querySelector("#world_name")
        let balloon_name = document.querySelector("#balloon_name")
        let balloon_pressure = document.querySelector("#balloon_pressure")
        let balloon_temperature = document.querySelector("#balloon_temperature")
        let balloon_height_ft = document.querySelector("#balloon_height_ft")

        let colour = [0,0,0]
        let balloons = []
        
        const getWorldData = ()=>{
            
            fetch("/api_balloon_world")
                .then(response =>{
                    return response.json()
                })
                .then(data =>{
                    // assigning values
                    worldName.textContent = data.name
                    
                    colour = data.colour
                    // get balloon data and make json
                    // let balloons_as_json = data.balloons_as_json
                    balloons = data.balloons
                   
                   
                   
                    
                })
                .catch(error =>{
                    console.log(error)
                })

                
        }

        // fetchDataButton.addEventListener("click", getWorldData)
        
        setInterval(getWorldData, 1000)
        

        // p5

       

        let camera

        const seaMatrix = []
        let scaleAmount = 100
        let w = 3500
        let h = 2000
        let rows;
        let cols;

        let width;
        let height;

        let movement = 0
        let cloud


        function preload(){
            cloud = loadModel("static/sketch/cloud.obj", true)
            img = loadImage("static/sketch/cloudTexture.jpeg")
        }

        function setup(){
            
            width = 600
            height = 600

            canvas = createCanvas(width, height, WEBGL)
            canvas.parent("balloon_data")

            camera = createCamera()

            rows = h/scaleAmount
            cols = w/scaleAmount
            
            
            
        }

        function draw(){
            

            let red = colour[0]
            let green= colour[1]
            let blue= colour[2]
            background(red,green, blue )

            movement -= 0.015
            let xIncrement =0
            let yIncrement =movement

           
            
            lights()
            translate(0,0,0)

            ///////// create sea matrix ///////////

            for (let x = 0; x<cols; x++){
                xIncrement = 0
                seaMatrix[x]=[]
 
                for(let y = 0; y<rows; y++){
    
                    seaMatrix[x][y]=map(noise(xIncrement,yIncrement), 0,1, -100, 100)  
                    xIncrement -=0.4
                }
                yIncrement -=0.3
   
            }
            //// create sea shape //////
            push()
            stroke(255,255,250)
            // noStroke()
            fill(0,100,150)
            
            rotateX(PI / 3)
            // translate(-width / 2, -height/1, -width/2)
            translate(-w/2, -h/1, -h/2)
            
            for (let y = 0; y<rows; y++){
                beginShape(TRIANGLE_STRIP)
                
                for(let x = 0; x<cols; x++){
                vertex(x*scaleAmount, y*scaleAmount, seaMatrix[x][y])
                vertex(x*scaleAmount, (y+1)*scaleAmount, seaMatrix[x][y+1])
                }
            endShape()
            }
  
            pop()
            
            let lookingForBalloon = true
            balloon_name.innerHTML = " "
            balloon_pressure.innerHTML = " "
            balloon_temperature.innerHTML = " "
            balloon_height_ft.innerHTML = " "


            for (let i = 0; i<balloons.length; i++){

                push()
                balloon = balloons[i]
                let X = balloon.location[0] 
                let Y = -balloon.location[1]
                let Z = balloon.location[2]
                translate(X, Y, Z)
                fill(balloon.balloon_red, balloon.balloon_green, balloon.balloon_blue)
                noStroke()
                let sphereDiameter = 20
                sphere(sphereDiameter)
                pop()
                
                // set thresholds
                let thresholdX = X + 70
                let thresholdX2 = X - 70
                let thresholdY = Y + 70
                let thresholdY2 = Y - 70
                let thresholdZ = Z + 300
                let thresholdZ2 = Z - 300

                if (lookingForBalloon){
                    if(camera.eyeX < thresholdX && camera.eyeX > thresholdX2 && camera.eyeY > thresholdY2 && camera.eyeY < thresholdY && camera.eyeZ > thresholdZ2 && camera.eyeZ < thresholdZ) {
                        console.log("found a balloon")
                        balloon_name.innerHTML = balloon.balloon_name
                        balloon_temperature.innerHTML = balloon.balloon_temperature
                        balloon_pressure.innerHTML = balloon.balloon_pressure
                        // balloon_height_ft.innerHTML.balloon.location[1]
                        console.log(balloon.location[1])
                        console.log(balloon.balloon_height_ft)
                        balloon_height_ft.innerHTML = `${balloon.balloon_height_ft}ft`

                        balloon.balloon_red = 0
                        lookingForBalloon = false
                    }
                    else{
                        balloon.balloon_red = 255
                    }
                }


              
                
            }
        //// clouds

        push()
        translate(0,-200,0)
        rotateY(90)
        scale(0.6)
        noStroke()
        texture(img)
        model(cloud)
        
        pop()

        

            // move camera
        if (keyIsDown(LEFT_ARROW)) {
            camera.move(-5,0,0)
            // console.log(camera.eyeX, camera.eyeY, camera.eyeZ)
        }
        
        else if (keyIsDown(RIGHT_ARROW)) {
            camera.move(5,0,0)
        }
        
        else if (keyIsDown(UP_ARROW)) {
            camera.move(0,0,-5)
        }

        else if (keyIsDown(DOWN_ARROW)) {
            camera.move(0,0,5)
        }
        else if (keyIsDown(ENTER)) {
            camera.move(0,5,0)
        }
        else if (keyIsDown(BACKSPACE)) {
            camera.move(0,-5,0)
        }


           
        }

        

       


      

       


        

        
        

        

       
       

        

       

        

        
        
       
        
        
        
    </script>
</html>