<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Hello Balloon World!</h1>
        <!-- <button id="button">New World</button> -->
        <div id="world_data">
            <h3>World Name: <span id="world_name"></span> </h3>
            
        </div>
        <div id="balloon_data">

        </div>

        <div class = "card w-50">
            <div class="card-body">
                <h5 class="card-title">Balloon Info</h5>
                <ul>
                    <li>Name: <span id="balloon_name"></span></li>
                    <li>Colour: <span id="balloon_colour"></span></li>
                    <li>Temperature: <span id="balloon_temperature"></span></li>
                    
                </ul>
                
                
            </div>
            
        </div>
        
        
    </body>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
    <script>
        
        
        let worldName = document.querySelector("#world_name")
        let balloon_name = document.querySelector("#balloon_name")
        let balloon_colour = document.querySelector("#balloon_colour")
        let balloon_temperature = document.querySelector("#balloon_temperature")

        let colour = [0,0,0]
        let balloons = []
        
        const getWorldData = ()=>{
            
            fetch("/api_balloon_world")
                .then(response =>{
                    return response.json()
                })
                .then(data =>{
                    // assigning values
                    worldName.textContent = data.name
                    
                    colour = data.colour
                    // get balloon data and make json
                    // let balloons_as_json = data.balloons_as_json
                    balloons = data.balloons
                   
                   
                   
                    
                })
                .catch(error =>{
                    console.log(error)
                })

                
        }

        // fetchDataButton.addEventListener("click", getWorldData)
        
        setInterval(getWorldData, 1000)
        

        // p5

       

        let cam
        let density

        function setup(){
            loadPixels()
            density = pixelDensity()
            
            console.log(density)
            width = 600
            height = 600

            canvas = createCanvas(width, height, WEBGL)
            canvas.parent("balloon_data")

            cam = createCamera()
            
            
            
        }

        function draw(){
            
            let index = 4 * ((mouseY * density) * width * density + (mouseX * density))
            console.log(pixels[index])
            let red = colour[0]
            let green= colour[1]
            let blue= colour[2]
            background(red,green, blue )
            orbitControl();
            lights()
            translate(0,0,0)
            
            let balloon_found = false
            balloon_name.innerHTML = " "
            balloon_colour.innerHTML = " "
            balloon_temperature.innerHTML = " "
            for (let i = 0; i<balloons.length; i++){
                push()
                balloon = balloons[i]

                let X = balloon.location[0] 
                let Y = -balloon.location[1]
                let Z = balloon.location[2]

                translate(X, Y, Z)
                fill(255, 180, 4)
                noStroke()
                let sphereDiameter = 10
                sphere(sphereDiameter)
                pop()

                // if (i===0){
                //     console.log(cam.eyeX, cam.eyeY, cam.eyeZ)
                // }


                let mouseXalt = mouseX - width/2
                let mouseYalt = mouseY - height/2
                // console.log(mouseXalt, mouseYalt)
                let threshold = sphereDiameter/2
                if (!balloon_found){
                    if((mouseXalt - threshold< X) && (X < mouseXalt + threshold) && (mouseYalt- threshold <Y ) && (Y <mouseYalt + threshold) ){
                    // console.log("yay it works")
                    balloon_name.innerHTML = balloon.balloon_name
                    balloon_colour.innerHTML = balloon.balloon_colour
                    balloon_temperature.innerHTML = balloon.balloon_temperature
                    balloon_found = true
                    }
                    
                }
                
            }

           
        }

        

       


      

       


        

        
        

        

       
       

        

       

        

        
        
       
        
        
        
    </script>
</html>