<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Hello Balloon World!</h1>
        <!-- <button id="button">New World</button> -->
        <div id="world_data">
            <h3>World Name: <span id="world_name"></span> </h3>
            
        </div>
        <div id="balloon_data">

        </div>

        <div class = "card w-50">
            <div class="card-body">
                <h5 class="card-title">Balloon Info</h5>
                <ul>
                    <li>Name: <span id="balloon_name"></span></li>
                    <li>Pressure: <span id="balloon_pressure"></span></li>
                    <li>Temperature: <span id="balloon_temperature"></span></li>
                    
                </ul>
                
                
            </div>
            
        </div>
        
        
    </body>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
    <script>
        
        
        let worldName = document.querySelector("#world_name")
        let balloon_name = document.querySelector("#balloon_name")
        let balloon_pressure = document.querySelector("#balloon_pressure")
        let balloon_temperature = document.querySelector("#balloon_temperature")

        let colour = [0,0,0]
        let balloons = []
        
        const getWorldData = ()=>{
            
            fetch("/api_balloon_world")
                .then(response =>{
                    return response.json()
                })
                .then(data =>{
                    // assigning values
                    worldName.textContent = data.name
                    
                    colour = data.colour
                    // get balloon data and make json
                    // let balloons_as_json = data.balloons_as_json
                    balloons = data.balloons
                   
                   
                   
                    
                })
                .catch(error =>{
                    console.log(error)
                })

                
        }

        // fetchDataButton.addEventListener("click", getWorldData)
        
        setInterval(getWorldData, 1000)
        

        // p5

       

        let camera
        

        function setup(){
            
            width = 600
            height = 600

            canvas = createCanvas(width, height, WEBGL)
            canvas.parent("balloon_data")

            camera = createCamera()
            
            
            
        }

        function draw(){
            

            let red = colour[0]
            let green= colour[1]
            let blue= colour[2]
            background(red,green, blue )

           
            
            lights()
            translate(0,0,0)
            
            let lookingForBalloon = true
            balloon_name.innerHTML = " "
            balloon_pressure.innerHTML = " "
            balloon_temperature.innerHTML = " "


            for (let i = 0; i<balloons.length; i++){

                push()
                balloon = balloons[i]
                let X = balloon.location[0] 
                let Y = -balloon.location[1]
                let Z = balloon.location[2]
                translate(X, Y, Z)
                fill(balloon.balloon_red, balloon.balloon_green, balloon.balloon_blue)
                noStroke()
                let sphereDiameter = 20
                sphere(sphereDiameter)
                pop()
                
                // set thresholds
                let thresholdX = X + 70
                let thresholdX2 = X - 70
                let thresholdY = Y + 70
                let thresholdY2 = Y - 70
                let thresholdZ = Z + 300
                let thresholdZ2 = Z - 300

                if (lookingForBalloon){
                    if(camera.eyeX < thresholdX && camera.eyeX > thresholdX2 && camera.eyeY > thresholdY2 && camera.eyeY < thresholdY && camera.eyeZ > thresholdZ2 && camera.eyeZ < thresholdZ) {
                        console.log("found a balloon")
                        balloon_name.innerHTML = balloon.balloon_name
                        balloon_temperature.innerHTML = balloon.balloon_temperature
                        balloon_pressure.innerHTML = balloon.balloon_pressure

                        balloon.balloon_red = 0
                        lookingForBalloon = false
                    }
                    else{
                        balloon.balloon_red = 255
                    }
                }


              
                
            }


            // move camera
        if (keyIsDown(LEFT_ARROW)) {
            camera.move(-5,0,0)
            // console.log(camera.eyeX, camera.eyeY, camera.eyeZ)
        }
        
        else if (keyIsDown(RIGHT_ARROW)) {
            camera.move(5,0,0)
        }
        
        else if (keyIsDown(UP_ARROW)) {
            camera.move(0,0,-5)
        }

        else if (keyIsDown(DOWN_ARROW)) {
            camera.move(0,0,5)
        }
        else if (keyIsDown(ENTER)) {
            camera.move(0,5,0)
        }
        else if (keyIsDown(BACKSPACE)) {
            camera.move(0,-5,0)
        }


           
        }

        

       


      

       


        

        
        

        

       
       

        

       

        

        
        
       
        
        
        
    </script>
</html>